<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/styles/style.css' />
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700,800,900,600,300,200,100' rel='stylesheet' type='text/css'>
        <script src="/js/jquery.js"></script>
        <script src="/js/app.js"></script>
    </head>
    <body>
        <header class="nav">
            <nav class="nav-inner">
                <div class="logo"><img class="nav-logo" srcset="/images/logoFixed.png"></div>
                <ul class="nav-list">
                    <li class="nav-list-item"><a href="/" class="nav-list-item-link"><i class="nav-list-item-img sprite sprite-brands"></i>Home</a></li>
                    <li class="nav-list-item"><a href="https://looklive.com/discover/" class="nav-list-item-link"><i class="nav-list-item-img sprite sprite-latest"></i>Latest</a></li>
                    <li class="nav-list-item"><a href="https://looklive.com/people/" class="nav-list-item-link"><i class="nav-list-item-img sprite sprite-people"></i>People</a></li>
                    <li class="nav-list-item"><a href="https://looklive.com/shows/" class="nav-list-item-link"><i class="nav-list-item-img sprite sprite-shows"></i>Shows</a></li>
                    <li class="nav-list-item"><a href="https://looklive.com/music/" class="nav-list-item-link"><i class="nav-list-item-img sprite sprite-music"></i>Music</a></li>
                    <li class="nav-list-item"><a href="https://looklive.com/brands/" class="nav-list-item-link"><i class="nav-list-item-img sprite sprite-brands"></i>Brands</a></li>
                </ul>
                <div class="clear"></div>
            </nav>
        </header>
        <div role="banner" class="banner"><img class="banner-img" srcset="/images/header.jpg"></div>

        <section class="inner-wrapper">
            {{{body}}}
        </section>
    </body>
</html>
